<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fo.dev.quran">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_quran"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_quran"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quran">
        <activity
            android:name=".MainActivity"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>